<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^Index/(.*)$		index.php [L]
    RewriteRule ^Upload/(.*)$		index.php [L]
    RewriteRule ^Error/(.*)$		index.php [L]
    RewriteRule .* 					resources/$1

    RewriteCond     %{REQUEST_FILENAME}		/resources/*
    RewriteCond     %{REQUEST_FILENAME}		!-f
    RewriteRule     ^/resources/(.*)$		/index.php [L]
</IfModule>
