<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^Index/(.*)$		index.php [L]
    RewriteRule ^Upload/(.*)$		index.php [L]
    RewriteRule ^Error/(.*)$		index.php [L]
    RewriteRule ^emarket/(.*)$ 		resources/emarket/$1 [L]
    RewriteRule ^filibrary/(.*)$ 	resources/filibrary/$1 [L]
    RewriteRule ^photos/(.*)$ 		resources/photos/$1 [L]

    RewriteCond     %{REQUEST_FILENAME}		/resources/*
    RewriteCond     %{REQUEST_FILENAME}		!-f
    RewriteRule     .*						/index.php
</IfModule>
